<Ui xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.blizzard.com/wow/ui/">
    <Script file="Settings.lua"></Script>

    <Button name="CategoryButtonTemplate" parentArray="Buttons" inherits="TruncatedTooltipScriptTemplate" virtual="true" mixin="CategoryButtonMixin">
        <Size x="152" y="21"/>
        <Layers>
            <Layer level="BACKGROUND">
                <Texture parentKey="Lines" atlas="auctionhouse-nav-button-tertiary-filterline" useAtlasSize="true">
                    <Anchors>
                        <Anchor point="LEFT" x="18" y="3"/>
                    </Anchors>
                </Texture>
                <Texture parentKey="NormalTexture" atlas="auctionhouse-nav-button" useAtlasSize="false">
                    <Size x="156" y="32"/>
                    <Anchors>
                        <Anchor point="TOPLEFT" x="-2" y="0"/>
                    </Anchors>
                </Texture>
            </Layer>
            <Layer level="BORDER">
                <Texture parentKey="HighlightTexture" atlas="auctionhouse-nav-button-highlight" hidden="true">
                    <Size x="152" y="21"/>
                    <Anchors>
                        <Anchor point="CENTER" />
                    </Anchors>
                </Texture>
            </Layer>
            <Layer level="ARTWORK">
                <Texture parentKey="SelectedTexture" atlas="auctionhouse-nav-button-select" alphaMode="ADD" hidden="true">
                    <Size x="152" y="21"/>
                    <Anchors>
                        <Anchor point="CENTER" />
                    </Anchors>
                </Texture>
            </Layer>
        </Layers>

        <ButtonText parentKey="Text" justifyH="LEFT">
            <Size x="0" y="8"/>
            <Anchors>
                <Anchor point="TOPLEFT" x="4" y="0"/>
                <Anchor point="BOTTOMRIGHT" x="-4" y="0"/>
            </Anchors>
            <Shadow>
                <Offset>
                    <AbsDimension x="1" y="-1"/>
                </Offset>
                <Color r="0" g="0" b="0"/>
            </Shadow>
        </ButtonText>
        <NormalFont style="GameFontNormalSmall"/>
        <HighlightFont style="GameFontHighlightSmall"/>
        <Scripts>
            <OnLoad method="OnLoad" />
            <OnClick method="Button_OnClick" />
        </Scripts>
    </Button>




    <Frame name="SettingsTemplate" virtual="true" mixin="SettingsMixin">
        <KeyValues>
            <KeyValue key="layoutType" value="BFAMissionAlliance" type="string"/>
        </KeyValues>
        <Size x="1200" y="650"/>
        <Layers>
            <Layer level="BACKGROUND" textureSubLevel="-6">
                <Texture name="$parentBg" file="Interface\FrameGeneral\UI-Background-Rock" horizTile="true" vertTile="true" parentKey="Bg">
                    <Anchors>
                        <Anchor point="TOPLEFT" x="2" y="-21"/>
                        <Anchor point="BOTTOMRIGHT" x="-2" y="2"/>
                    </Anchors>
                </Texture>
            </Layer>
            <Layer level="OVERLAY">
                <FontString parentKey="Status" inherits="GameFontNormal" justifyH="LEFT">
                    <Size x="350" y="24" />
                    <Anchors>
                        <Anchor point="BOTTOMLEFT" x="200" y="4" />
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <!-- <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="0">
                        <Texture parentKey="BlackBG" setAllPoints="true" alpha="0.5">
                            <Color r="0.0" g="0.0" b="255.0"/>
                        </Texture>
                    </Layer>
                </Layers> -->
        <Frames>
            <Frame parentKey="NineSlice" useParentLevel="true" inherits="NineSlicePanelTemplate"/>

            <Frame parentKey="CategoriesList">
                <Anchors>
                    <Anchor point="TOPLEFT" x="20" y="-68"/>
                </Anchors>

                <Size x="188" y="438"/>
                <Layers>
                    <Layer level="BACKGROUND">
                        <Texture parentKey="Background" atlas="auctionhouse-background-categories">
                            <Size x="182" y="432"/>
                            <Anchors>
                                <Anchor point="TOPLEFT" x="3" y="-3"/>
                            </Anchors>
                        </Texture>
                    </Layer>
                </Layers>
            </Frame>


            <Frame parentKey="TabUI">
                <Anchors>
                    <Anchor point="TOPLEFT" relativeKey="$parent.CategoriesList" relativePoint="TOPRIGHT" x="4" y="0"/>
                    <Anchor point="RIGHT" x="-30" y="0"/>
                    <Anchor point="BOTTOM" x="0" y="28"/>
                </Anchors>
                <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="-5">
                        <Texture parentKey="bg" atlas="auctionhouse-background-index" useAtlasSize="true" />
                    </Layer>
                </Layers>
                <!-- <Layers>
                    <Layer level="BACKGROUND" textureSubLevel="0">
                        <Texture parentKey="BlackBG" setAllPoints="true" alpha="0.5">
                            <Color r="255.0" g="0.0" b="0.0"/>
                        </Texture>
                    </Layer>
                </Layers> -->
                <Frames>

                    <Frame parentKey="EventTypes" frameLevel="100" hidden="true">
                        <Anchors>
                            <Anchor point="TOPLEFT" />
                            <Anchor point="BOTTOMRIGHT" />
                        </Anchors>
                        <Layers>
                            <Layer level="BACKGROUND" textureSubLevel="0">
                                <Texture parentKey="BlackBG" setAllPoints="true" alpha="0.5">
                                    <Color r="0.0" g="0.0" b="255.0"/>
                                </Texture>
                            </Layer>
                            <Layer level="OVERLAY">
                                <FontString parentKey="Title" inherits="ChroniclesFontLargeWhite" justifyH="LEFT" text="Event Types">
                                    <Size y="20"/>
                                    <Anchors>
                                        <Anchor point="TOP" x="0" y="0"/>
                                    </Anchors>
                                </FontString>
                            </Layer>
                        </Layers>
                    </Frame>

                    <Frame parentKey="Libraries" frameLevel="100" hidden="true">
                        <Anchors>
                            <Anchor point="TOPLEFT" />
                            <Anchor point="BOTTOMRIGHT" />
                        </Anchors>
                        <Layers>
                            <Layer level="BACKGROUND" textureSubLevel="0">
                                <Texture parentKey="BlackBG" setAllPoints="true" alpha="0.5">
                                    <Color r="0.0" g="255.0" b="0.0"/>
                                </Texture>
                            </Layer>
                            <Layer level="OVERLAY">
                                <FontString parentKey="Title" inherits="ChroniclesFontLargeWhite" justifyH="LEFT">
                                    <Size y="20"/>
                                    <Anchors>
                                        <Anchor point="TOP" y="-10"/>
                                    </Anchors>
                                </FontString>
                            </Layer>
                        </Layers>
                        <Frames>
                            <!-- <CheckButton name="LibrariesFilterBlock1" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOPLEFT" />
                                </Anchors>
                            </CheckButton>
                            <CheckButton name="LibrariesFilterBlock2" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOP" relativePoint="BOTTOM" relativeTo="LibrariesFilterBlock1" />
                                </Anchors>
                            </CheckButton>
                            <CheckButton name="LibrariesFilterBlock3" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOP" relativePoint="BOTTOM" relativeTo="LibrariesFilterBlock2" />
                                </Anchors>
                            </CheckButton>
                            <CheckButton name="LibrariesFilterBlock4" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOP" relativePoint="BOTTOM" relativeTo="LibrariesFilterBlock3" />
                                </Anchors>
                            </CheckButton>
                            <CheckButton name="LibrariesFilterBlock5" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOP" relativePoint="BOTTOM" relativeTo="LibrariesFilterBlock4" />
                                </Anchors>
                            </CheckButton>
                            <CheckButton name="LibrariesFilterBlock6" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOP" relativePoint="BOTTOM" relativeTo="LibrariesFilterBlock5" />
                                </Anchors>
                            </CheckButton>
                            <CheckButton name="LibrariesFilterBlock7" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOP" relativePoint="BOTTOM" relativeTo="LibrariesFilterBlock6" />
                                </Anchors>
                            </CheckButton> -->
                        </Frames>
                    </Frame>

                    <Frame parentKey="MyJournal" frameLevel="100" hidden="true">
                        <Anchors>
                            <Anchor point="TOPLEFT" />
                            <Anchor point="BOTTOMRIGHT" />
                        </Anchors>
                        <Layers>
                            <Layer level="BACKGROUND" textureSubLevel="0">
                                <Texture parentKey="BlackBG" setAllPoints="true" alpha="0.5">
                                    <Color r="255.0" g="0.0" b="0.0"/>
                                </Texture>
                            </Layer>
                            <Layer level="OVERLAY">
                                <FontString parentKey="Title" inherits="ChroniclesFontLargeWhite" justifyH="LEFT">
                                    <Size y="20"/>
                                    <Anchors>
                                        <Anchor point="TOP" y="-10"/>
                                    </Anchors>
                                </FontString>
                            </Layer>
                        </Layers>
                        <Frames>
                            <CheckButton parentKey="IsActive" inherits="InterfaceOptionsCheckButtonTemplate" checked="false">
                                <Anchors>
                                    <Anchor point="TOPLEFT" x="10" y="-25"/>
                                </Anchors>
                                <!-- <Scripts>
                                    <OnClick function="MyJournalIsActive_OnClick" />
                                </Scripts> -->
                            </CheckButton>
                        </Frames>
                    </Frame>

                </Frames>
                <!-- <Scripts>
                    <OnLoad method="OnLoad"/>
                </Scripts> -->
            </Frame>

        </Frames>
        <Scripts>
            <OnLoad method="OnLoad"/>
        </Scripts>
    </Frame>

</Ui>